In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import datetime

In [2]:
main_df = pd.read_csv("Resources/netflix_titles.csv")
main_df = main_df.dropna()
main_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...

In [3]:

cleaned_df = main_df.rename(columns={'listed_in':'genre', 'cast':'actor', "release_year": "year"})
cleaned_df

,show_id,type,title,director,actor,country,date_added,year,rating,duration,genre,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
...,...,...,...,...,...,...,...,...,...,...,...,...
7778,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
7780,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [4]:
# Updated ERD
# Show
# -
# show_id VARCHAR(255) PK
# title VARCHAR(255)
# rating VARCHAR(255)
# description VARCHAR(255)
# director VARCHAR(255)
# type VARCHAR(255)
# date_added VARCHAR(255)
# year INT


# Actors
# -
# actor_id INT PK
# actor VARCHAR(255)


# Country
# -
# country_id INT PK
# country VARCHAR(255)


# Genre
# -
# genre_id INT PK
# genre VARCHAR(255)


# Relations
# -
# show_id VARCHAR(255) FK - Show.show_id
# actor_id INT FK - Actors.actor_id
# country_id INT FK - Country.country_id
# genre_id INT FK - Genre.genre_id

In [5]:
# Create table for shows
show_df = cleaned_df[["show_id", "title", "director", "rating", "type", "date_added", "year", "description", ]]
show_df.to_csv('Resources/shows.csv', index=False)

show_df["date_added"] = pd.to_datetime(show_df["date_added"])

show_df["year"] = pd.to_datetime(show_df["date_added"], format = "%Y")
# remove year

show_df

<ipython-input-5-25055e93fbea>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  show_df["date_added"] = pd.to_datetime(show_df["date_added"])
<ipython-input-5-25055e93fbea>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  show_df["year"] = pd.to_datetime(show_df["date_added"], format = "%Y")

,show_id,title,director,rating,type,date_added,year,description
1,s2,7:19,Jorge Michel Grau,TV-MA,Movie,2016-12-23,2016-12-23,After a devastating earthquake hits Mexico Cit...
2,s3,23:59,Gilbert Chan,R,Movie,2018-12-20,2018-12-20,"When an army recruit is found dead, his fellow..."
3,s4,9,Shane Acker,PG-13,Movie,2017-11-16,2017-11-16,"In a postapocalyptic world, rag-doll robots hi..."
4,s5,21,Robert Luketic,PG-13,Movie,2020-01-01,2020-01-01,A brilliant group of students become card-coun...
5,s6,46,Serdar Akar,TV-MA,TV Show,2017-07-01,2017-07-01,A genetics professor experiments with a treatm...
...,...,...,...,...,...,...,...,...
7778,s7779,Zombieland,Ruben Fleischer,R,Movie,2019-11-01,2019-11-01,Looking to survive in a world taken over by zo...
7780,s7781,Zoo,Shlok Sharma,TV-MA,Movie,2018-07-01,2018-07-01,A drug dealer starts having doubts about his t...
7781,s7782,Zoom,Peter Hewitt,PG,Movie,2020-01-11,2020-01-11,"Dragged from civilian life, a former superhero..."
7782,s7783,Zozo,Josef Fares,TV-MA,Movie,2020-10-19,2020-10-19,When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Zubaan,Mozez Singh,TV-14,Movie,2019-03-02,2019-03-02,A scrappy but poor boy worms his way into a ty...

In [6]:
# Create table for actors and transform
actor_df = cleaned_df[["actor"]]

actor_df.actor = actor_df.actor.str.split(', ')
actor_df = actor_df.explode('actor').reset_index(drop=True)

actor_df['actor'].drop_duplicates()

actor_df.to_csv('Resources/actors.csv', index=False)
actor_df

/Users/petertran/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

                       actor
0              Demián Bichir
1             Héctor Bonilla
2              Oscar Serrano
3               Azalia Ortiz
4             Octavio Michel
...                      ...
37941       Manish Chaudhary
37942           Meghna Malik
37943          Malkeet Rauni
37944         Anita Shabdish
37945  Chittaranjan Tripathy

[37946 rows x 1 columns]

In [7]:
# Create table for countries and transform
country_df = cleaned_df[["country"]]

country_df.country = country_df.country.str.split(', ')
country_df = country_df.explode('country').reset_index(drop=True)

country_df['country'].drop_duplicates()

country_df.to_csv('Resources/countries.csv', index=False)
country_df

/Users/petertran/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

             country
0             Mexico
1          Singapore
2      United States
3      United States
4             Turkey
...              ...
6135  Czech Republic
6136  United Kingdom
6137         Denmark
6138     Netherlands
6139           India

[6140 rows x 1 columns]

In [80]:
# Create table for genres and transform
genre_df = cleaned_df[["genre", "show_id"]]
# genre drop show_id

genre_df.genre = genre_df.genre.str.split(', ')
genre_df = genre_df.explode('genre').reset_index(drop=True)

genre_df.drop_duplicates()

genre_df.to_csv('Resources/genres.csv', index=False)
genre_df

/Users/petertran/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

                      genre show_id
0                    Dramas      s2
1      International Movies      s2
2             Horror Movies      s3
3      International Movies      s3
4        Action & Adventure      s4
...                     ...     ...
10681                Dramas   s7783
10682  International Movies   s7783
10683                Dramas   s7784
10684  International Movies   s7784
10685      Music & Musicals   s7784

[10686 rows x 2 columns]

In [81]:

# cleaned_df.actors = cleaned_df.actors.str.split(', ')
# cleaned_df.genre = cleaned_df.genre.str.split(', ')
# cleaned_df.country = cleaned_df.country.str.split(', ')

# cleaned_df = cleaned_df.explode('actors').reset_index(drop=True)
# cleaned_df = cleaned_df.explode('genre').reset_index(drop=True)
# cleaned_df = cleaned_df.explode('country').reset_index(drop=True)

# cleaned_df

In [130]:
# # Looking at values within columns

# unique_combo = main_df["listed_in"].unique()
# genre_list = []
# for unique in unique_combo:
#     genre_split = unique.split(', ')
#     for genre in genre_split:
#         if genre not in genre_list:
#             genre_list.append(gen|re)
# len(genre_list)

In [ ]:
# movie_titles
# -
# ID VARCHAR PK
# show_name VARCHAR
# rating_ID INTEGER FK >- rating.rating_ID

# rating
# -
# rating_ID INTEGER PK
# rating_description VARCHAR

# listed_in
# -
# listed_in_ID INTEGER
# listed_in_description VARCHAR
# many to many

# info
# -
# ID VARHCAR FK >- movie_titles.ID
# listed_in_ID INTEGER FK >- listed_in.listed_in_ID
# type_ID VARCHAR FK >- type.type_ID
# date_added DATE
# rel_yr VARCHAR
# duration VARCHAR
# description VARCHAR

# country VARHCAR

# type
# -
# type_ID INTEGER PK
# type_desc VARCHAR
# not necessary

# cast
# -
# cast_ID INTEGER PK FK >- crew.cast_ID
# cast VARHCAR
# many to many

# director
# -
# director_ID INTEGER PK
# director VARCHAR
# not necessary

# crew
# -
# ID VARCHAR FK >- movie_titles.ID
# cast_ID INTGER FK
# director_ID INTEGER FK >- director.director_ID
# not necessary